<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrApp Alumnos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
<ion-text class="ion-text-center" color="dark">
  <h4>Registro de clases</h4>
  <div class="logo-container">
    <p><img class="icon-gif" src="assets/logo.png" width="170px" height="170x"></p>
  </div>
</ion-text>
  <!-- comentario -->
  <ion-input type="email" 
  label="Email" labelPlacement="floating" helperText="Ejemplo usuario@cuenta.cl"             
  [(ngModel)]="email" class="custom-input"></ion-input>
<ion-input type="password" labelPlacement="floating" label="Clave" [(ngModel)]="clave" class="custom-input"></ion-input>

  <div class="ion-text-center"> <!-- Centrar el contenido -->
    <ion-button fill="solid" size="medium" shape="round" class="custom-button" color="secondary"(click)="login()">Ingresar<ion-icon name="log-in"></ion-icon></ion-button>
  </div>
<!--<ion-button fill="outline" shape="round" expand="block" [routerLink]="['/crearuser']">Crear Cuenta</ion-button>-->

<div class="ion-text-center"> <!-- Centrar el contenido -->
  <h2 class="custom-header">¿Has olvidado tu contraseña?</h2>
  <ion-button fill="solid" size="medium" shape="round" class="custom-button" color="secondary"  [routerLink]="['/cambiarcontra']">Restablecer Contraseña<ion-icon name="key"></ion-icon></ion-button>
</div>
</ion-content>



