<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center"> 
   <ion-text>
     <h1>Ingrese correo</h1>
   </ion-text>
   <br><br>
  </div>
  <div class="ion-text-center"> 
      <ion-input type="email" 
      label="Email" labelPlacement="floating" helperText="Debe ingresar un correo válido" errorText="El correo no es válido" ngModel email              
      placeholder="Ingrese su correo" [(ngModel)]="email" class="custom-input"></ion-input>
  </div>
      <br><br>
  <div class="ion-text-center"> 
    <ion-button color="secondary" fill="solid" size="medium" shape="round" class="custom-button" (click)="mostrarAlerta()">Recuperar cuenta</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>