<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-text color="primary">
      <h1> Bienvenido Alumn@</h1>
    </ion-text>
  </div>
  
<!-- Agregar la tarjeta (card) debajo del texto -->
<ion-card>
  <div class="contenedor-tarjeta">
    <!-- Agregar una imagen si es necesario -->
    <ion-img class="imagen-alumno" src="assets/card1.png"></ion-img>

    <ion-card-content *ngFor="let x of usuarioData">
      <ion-card-title>Nombre: {{x.nombre}}</ion-card-title>
      <!-- Agregar cualquier otro contenido de la tarjeta aquí -->
    </ion-card-content>
  </div>
</ion-card>
</ion-content>

<ion-item *ngFor="let y of horarioData" >
  <ion-label > {{y.nombre}} {{y.seccion}} </ion-label>
</ion-item>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>